extends layout

include mixins/nav


block content

  mixin nav

  section#home
    .section-content
      //(data-0-top="top:0px", data--1000-bottom="top:-200px", data-anchor-target="section#home")
      h1 ~Kuba Fietkiewicz/
      h4 Engineer * Father * Leader
      p You can navigate by scrolling down, clicking on the buttons to the right, or entering commands below.

  section#work
    .section-content
      //(data-0-top="top:0px", data--1000-bottom="top:-300px", data-anchor-target="section#resume")
      h1 ~/Work
      ul
        li http://calls.yp.com
        li stuff

  section#resume
    .section-content
      h1 ~/Resume

  section#contact
    .section-content
      h1 ~/Contact

  if(is_desktop)
    .command-console
      .console
        ~/ $
        input.console-input(type='text', placeholder=' ie: git help')
      .help
        h4 Commands
        ul
          li git help
          li git checkout home
          li git checkout work
          li git checkout resume
          li git checkout contact

block script
  script
    $(function(){
      var $inputBox = $(".console-input");
    
      // Set focus to input area to get cursor
      $inputBox.focus();

      var s = skrollr.init();
      
      $('a').on('click touchstart', function(){
          where = $(this).attr('href');
          scrollAnimation(where);
          return false;
      });
      
      var scrollAnimation = function(where) {
        var top = $('body').find(where).offset().top;
        $('html, body').animate({
            scrollTop: top
        },500, 'easeOutExpo');
      }
      
      var extractLocation = function(command) {
        var matches = command.match(/(home|resume|contact|work)/g);
        // Return empty or the first match
        return matches ? '#'+matches[0] : false;
      }
      
      $inputBox.on('keypress', function(e) {
        if(e.which == 13) {
          var command = $inputBox.val();
          var where = extractLocation(command);
          if(where) {
            scrollAnimation(where);
            $inputBox.attr("placeholder", " ie: git help");
          } else {
            $inputBox.attr("placeholder", " invalid command. try 'help'");
          }
          $inputBox.val('');
        }
      });
      
      
      
      
    });