extends layout

include mixins/nav


block content

  mixin nav

  section#home
    .section-content
      h1 ~Kuba Fietkiewicz/
      h4 Engineering Leader * Father 
      p My name is Kuba Fietkiewicz. I live in the Los Angeles area.  During the day I'm a Director of Engineering at YP, a billion dollar startup. We build in Ruby, Rails, JavaScript, Node.  I build teams. 
      if(is_desktop)
        p You can navigate by entering commands below, clicking on the buttons to the right, or just scrolling down.


  section#work
    .section-content
      h1 ~/Recent Work
      a(href='http://calls.yp.com', target='_blank')
        .content-area
          img(src='/images/ipad-calls.png', width='200px', height='150px')
          .explanation
            p http://calls.yp.com
            .technology
              h5 Technology
              ul
                li Ruby/Sinatra
                li LWES
                li Redis
                li MySQL
      a(href='http://vimeo.com/channels/286068', target='_blank')
        .content-area
          iframe(src="//player.vimeo.com/video/36044766", width="200", height="150", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
          .explanation
            p http://www.buzz.com
            .technology
              h5 Challenge
              ul
                li 3 mths MVP
                li Usability
                li 3 mths Beta
                li Remote Eng Team

  section#contact
    .section-content
      h1 ~/Contact
      a(href='http://www.linkedin.com/in/kubafietkiewiczpmp', target='_blank')
        .content-area
          img(src='/images/linkedin.png')
          h2 LinkedIn
          p Not looking but always open for the right VPE/CTO opportunity.
      a(href='http://www.twitter.com/kubaf', target='_blank')
        .content-area
          img(src='/images/twitter.png')
          h2 @kubaf
          p I don't often tweet, but when I do...
      a(href='http://kubaf.wordpress.com', target='_blank')
        .content-area
          img(src='/images/wordpress.png')
          h2 Blog
          p Ramblings on technology.
      a(href='http://www.github.com/kubaf', target='_blank')
        .content-area
          img(src='/images/github.png')
          h2 GitHub
          p If you find beauty in code.

  if(is_desktop)
    .command-console
      .console
        ~/ $
        input.console-input(type='text', placeholder=' ie: vi help')
      .help
        h4 Commands
        ul
          li vi help
          li vi home
          li vi work
          li vi contact

block script
  script
    $(function(){
      var $inputBox = $(".console-input");
      var $help = $(".help");
      var $navButtons = $('.nav a');
      
      // Set focus to input area to get cursor
      $inputBox.focus();

      $('a').on('click touchstart', function(){
          where = $(this).attr('href');
          scrollAnimation(where);
          setNavButton(where);
          return false;
      });
      
      var setNavButton = function(where) {
        var $buttonToSet = $('a[href="'+where+'"]');
        $navButtons.css({opacity: 0.5});
        $buttonToSet.css({opacity: 1});
        return false;
      }
      
      setNavButton("#home");
      
      
      var scrollAnimation = function(where) {
        
        // Do not remove this ios hack.
        $('body').append($('<div></div>').addClass('iosfix'));
        setTimeout(function() {
          $('.iosfix').remove();
        }, 5);
        
        var top = $('body').find(where).offset().top;
        $('html, body').animate({
            scrollTop: top
        },700, 'easeOutQuint');
      }
      
      var extractLocation = function(command) {
        var matches = command.match(/(home|contact|work|help)/g);
        // Return empty or the first match
        return matches ? '#'+matches[0] : false;
      }
      
      $inputBox.on('keypress', function(e) {
        if(e.which == 13) {
          var command = $inputBox.val();
          var where = extractLocation(command);
          if(where=='#help') {
            animateHelp(true);
          } else if(where) {
            scrollAnimation(where);
            setNavButton(where);
            $inputBox.attr("placeholder", " ie: vi help");
            animateHelp(false);
          } else {
            $inputBox.attr("placeholder", " invalid command. try 'vi help'");
          }
          $inputBox.val('');
        }
      });
      
      var animateHelp = function(on) {
        var options = {
            duration: 2000, 
            easing: 'easeOutExpo'
          }
        if(on) {
          $help.fadeIn(options);
        } else {
          $help.fadeOut(options);
        }
        return false;
      }

    });