extends layout

include mixins/nav


block content

  mixin nav

  section#home
    .section-content
      h1 ~Kuba Fietkiewicz/
      h4 Engineer * Father * Leader
      p You can navigate by scrolling down, clicking on the buttons to the right, or entering commands below.

  section#work
    .section-content
      h1 ~/Work
      a(href='http://calls.yp.com', target='_blank')
        .content-area
          img(src='/images/ipad-calls.png', width='200px', height='150px')
          .explanation
            p http://calls.yp.com
            .technology
              h5 Technology
              ul
                li Ruby/Sinatra
                li LWES
                li Redis
                li MySQL
      a(href='http://vimeo.com/channels/286068', target='_blank')
        .content-area
          iframe(src="//player.vimeo.com/video/36044766", width="200", height="150", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
          .explanation
            p http://www.buzz.com
            .technology
              h5 Challenge
              ul
                li 3 mths MVP
                li Usability
                li 3 mths Beta
                li Remote Eng Team

  section#contact
    .section-content
      h1 ~/Contact

  if(is_desktop)
    .command-console
      .console
        ~/ $
        input.console-input(type='text', placeholder=' ie: git help')
      .help
        h4 Commands
        ul
          li vi help
          li vi home
          li vi work
          li vi contact

block script
  script
    $(function(){
      var $inputBox = $(".console-input");
      var $help = $(".help");
      var $navButtons = $('.nav a');
      
      // Set focus to input area to get cursor
      $inputBox.focus();

      $('a').on('click touchstart', function(){
          where = $(this).attr('href');
          scrollAnimation(where);
          setNavButton(where);
          return false;
      });
      
      var setNavButton = function(where) {
        var $buttonToSet = $('a[href="'+where+'"]');
        $navButtons.css({opacity: 0.5});
        $buttonToSet.css({opacity: 1});
        return false;
      }
      
      setNavButton("#home");
      
      
      var scrollAnimation = function(where) {
        
        // Do not remove this ios hack.
        $('body').append($('<div></div>').addClass('iosfix'));
        setTimeout(function() {
          $('.iosfix').remove();
        }, 5);
        
        var top = $('body').find(where).offset().top;
        $('html, body').animate({
            scrollTop: top
        },700, 'easeOutQuint');
      }
      
      var extractLocation = function(command) {
        var matches = command.match(/(home|contact|work|help)/g);
        // Return empty or the first match
        return matches ? '#'+matches[0] : false;
      }
      
      $inputBox.on('keypress', function(e) {
        if(e.which == 13) {
          var command = $inputBox.val();
          var where = extractLocation(command);
          if(where=='#help') {
            animateHelp(true);
          } else if(where) {
            scrollAnimation(where);
            setNavButton(where);
            $inputBox.attr("placeholder", " ie: vi help");
            animateHelp(false);
          } else {
            $inputBox.attr("placeholder", " invalid command. try 'vi help'");
          }
          $inputBox.val('');
        }
      });
      
      var animateHelp = function(on) {
        var options = {
            duration: 2000, 
            easing: 'easeOutExpo'
          }
        if(on) {
          $help.fadeIn(options);
        } else {
          $help.fadeOut(options);
        }
        return false;
      }

    });