extends layout

include mixins/nav


block content

  mixin nav

  section#home
    .section-content
      //(data-0-top="top:0px", data--1000-bottom="top:-200px", data-anchor-target="section#home")
      h1 ~Kuba Fietkiewicz/
      h4 Engineer * Father * Leader
      p You can navigate by scrolling down, clicking on the buttons to the right, or entering commands below.

  section#work
    .section-content
      //(data-0-top="top:0px", data--1000-bottom="top:-300px", data-anchor-target="section#resume")
      h1 ~/Work
      ul
        li http://calls.yp.com
        li stuff

  section#resume
    .section-content
      h1 ~/Resume

  section#contact
    .section-content
      h1 ~/Contact

  if(is_desktop)
    .command-console
      .console
        ~/ $
        input.console-input(type='text', placeholder=' ie: git help')
      .help
        h2 Commands
        ul
          li git checkout home
          li git checkout contact
          li git checkout resume
          li git checkout work

block script
  script
    $(function(){
      // Set focus to input area to get cursor
      $(".console-input").focus();

      var s = skrollr.init();
      
      $('a').click(function(){
          var top = $('body').find($(this).attr('href')).offset().top;
          $('html, body').animate({
              scrollTop: top
          },500, 'easeOutExpo');

          return false;
      });
    });