@font-face { font-family: 'helvetica'; src: local('Arial'); }

html {
  height: 100%;
  background-color: black;
}
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: white;
  background-color: black;
  height: 100%;
}

h1 {
  -position: relative;
  font-size: 5em;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 100px;
  text-shadow:1px 1px 5px #333;
}

h4 {
  font-weight: lighter;
}

a {
  opacity: .5;
  background-color: transparent;
}
a:hover {
  opacity: 1;
  background-color: transparent;
}

a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}

.nav {
  list-style: none;
  position: fixed;
  right: 44px;
  height: 280px;
  margin-top 40px;
  z-index: 50;
}

#square {
  width: 12px;
  height: 12px;
  background-color: white;
  border: 0;
}


section {
  -background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat no-repeat;
  background-size: auto;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

section#home {
  background-image: url('/images/ios-linen-light.jpg');
}

section#home .section-content {
  position: fixed;
}

section#home p, h4 {
  width: 300px;
  margin-left: 50px;
}

section#contact {
  background-image: url('/images/denim8-light.jpg');
  height: 110%;
}

section#resume {
  background-image: url('/images/paper-4-light.jpg');
}

section#work {
  background-image: url('/images/wood1-light.jpg');
}


.command-console {
  position: fixed;
  bottom: 10px;
  left: 10px;
  min-height: 120px;
  border: 2px solid #ccc;
  min-width: 350px;
  min-height: 138px;
  background-color: rgba(33,33,33,.5);
}
.console {
  display: inline-block;
  float: left;
  border-bottom: 1px solid #ccc;
  
  position: absolute;
  bottom: 30px;
  margin-left: 50px;
}

.console-input {
  width: 200px;
  border: none; 
  outline-color: white;
  outline-style: none;
  background-color: transparent;
  color: white;
}

.help {
  margin-left: 310px;
  display: none;
}

.help h4 {
  margin-left: 25px;
  width: 190px;
}

/* Placeholder styles */
::-webkit-input-placeholder { 
  font-color: #111; 
}
::-moz-placeholder { font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */
input:-moz-placeholder { font-style: italic; }

.iosfix {
  height: 101%;
  overflow: hidden;
}