html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 100px;
}

a {
  color: #00B7FF;
}

.nav {
  list-style: none;
  position: fixed;
  right: 44px;
  height: 280px;
  margin-top 40px;
  z-index: 50;
}

section {
  min-height: 500px;
  
}

section#contact {
  background-image: url('/images/IMG_1406.jpg');
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat no-repeat;
}

.command-console {
  position: fixed;
  bottom: 10px;
  left: 10px;
  min-height: 120px;
  border: 2px solid #ccc;
  width: 550px;
  background-color: rgba(33,33,33,.5);
}
.console {
  display: inline-block;
  float: left;
  border-bottom: 1px solid #ccc;
  
  position: absolute;
  bottom: 80px;
  margin-left: 50px;
}

.console-input {
  width: 200px;
  border: none; 
  outline-color: white;
  outline-style: none;
  background-color: transparent;
  color: white;
}

.help {
  -display: inline-block;
  -position: relative;
  margin-left: 310px;
}

/* Placeholder styles */
::-webkit-input-placeholder { 
  font-color: #111; 
}
::-moz-placeholder { font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */
input:-moz-placeholder { font-style: italic; }