mixin nav
  ul.nav
    li
      a#n1(href='#home')
        img(src='/images/button.png')
    li
      a#n1(href='#contact')
        img(src='/images/button.png')
    li
      a#n1(href='#resume')
        img(src='/images/button.png')
    li
      a#n1(href='#work')
        img(src='/images/button.png')
