mixin nav
  ul.nav
    li
      a#n1(href='#home', style='background-color:transparent;')
        img(src='/images/button.png')
    li
      a#n1(href='#work', style='background-color:transparent;')
        img(src='/images/button.png')
    li
      a#n1(href='#contact', style='background-color:transparent;')
        img(src='/images/button.png')
